.princi{
    background-color: rgb(20, 102, 253);
}
.Pie{
    background-color: black;
    color: white;
    font-style: italic;
}
.todo{
    background-color: gray;
    color: black;
    font-style: oblique;
    margin: 10%
}
.imagenes{
    border-radius: 10%;
    box-shadow: inset;
    width: 15%;
}
.T_A{
    text-align: center;
}
.Container{
    display: flex;
    justify-content: center;
}
.margin{
    margin: 10%
}
#identity{
    color: blue;
}